{%  extends 'AppBundle::base.html.twig' %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('bundles/AppBundle/assets/css/elements.css') }}">
{% endblock %}
{% block body %}
    {{ form_start(form, {'action': path('news_subscribe'), 'method':'POST'}) }}
    <div class="container text-center">
        <h1>Subscribe news</h1>
        <div class="form_container">

            <div class="form-group text-right">
                {{ form_errors(form.name) }}
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
            </div>
            <div class="form-group text-right">
                {{ form_errors(form.email) }}
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
            </div>
            <div class="form-group text-right">
                {{ form_errors(form.categories) }}
                {{ form_label(form.categories) }}
                {{ form_widget(form.categories) }}
            </div>
            {{ form_widget(form.submit) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}