{%  extends 'AppBundle::base.html.twig' %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('bundles/AppBundle/assets/css/elements.css') }}">
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="col-xs-12 text-center header_box">
            <span> Admin <a class="clean" href="{{ path('logout') }}"><div class="animline"></div>Logout</a> </span>
        </div>
    </div>
    <div class="container text-center">
        <h1>Edit Subscriber</h1>
        <div class="form_container">
            {{ form_start(form, {'action': path('subscriber_update', {'id': id}), 'method':'POST'}) }}

                <div class="form-group text-right">
                    {{ form_errors(form.name) }}
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name) }}
                </div>
                <div class="form-group text-right">
                    {{ form_errors(form.email) }}
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                </div>
                <div class="form-group text-right">
                    {{ form_errors(form.categories) }}
                    {{ form_label(form.categories) }}
                    {{ form_widget(form.categories) }}
                </div>
                {{ form_widget(form.submit) }}

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}