{%  extends 'AppBundle::base.html.twig' %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('bundles/AppBundle/assets/css/elements.css') }}">
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="col-xs-12 text-center header_box">
            <span> Admin <a class="clean" href="{{ path('logout') }}"><div class="animline"></div>Logout</a> </span>
        </div>
    </div>
    <div class="container text-center">

        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th scope="col" onclick="sort_table(people, 0, asc1); asc1 *= -1; asc2 = 1; asc3 = 1;">Name</th>
                        <th scope="col" onclick="sort_table(people, 1, asc2); asc2 *= -1; asc3 = 1; asc1 = 1;">Email</th>
                        <th scope="col" onclick="sort_table(people, 2, asc3); asc3 *= -1; asc1 = 1; asc2 = 1;">Categories</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody id="subscribers">
                {% for k, subscriber in subscribers %}
                    <tr>
                        <td class="testas" data-label="Name">
                            {{ subscriber.name }}
                        </td>
                        <td data-label="Email">
                            {{ subscriber.email }}
                        </td>
                        <td data-label="Categories">
                            {% for key, category in categories %}
                                {% for subCat in subscriber.categories %}
                                    {% if category ==  subCat%}
                                        <p>{{ key }}</p>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </td>
                        <td class="td-action" data-label="Action">
                            <a href="{{ path('subscriber_edit', {'id': k}) }}"><span class="glyphicon glyphicon-pencil"></span></a>
                            <a href="{{  path('subscriber_delete', {'id': k}) }}"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/AppBundle/assets/js/sort.js') }}"></script>
{% endblock %}