{%  extends 'AppBundle::base.html.twig' %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('bundles/AppBundle/assets/css/elements.css') }}">
{% endblock %}

{% block body %}
    <div class="container text-center">
        <div class="col-xs-12 div-login-box text-center">
            <div class="div-title">
                <h1>Login</h1>
            </div>
            {% if error %}
                <div class="error-box">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
            <form method="post" action="{{ path('login') }}">
                <div class="form_container">
                    <div class="form-group text-right">
                        <label for="username">Name:</label>
                        <input  id="username" name="_username" type="text" maxlength="40" value="{{ last_username }}">
                    </div>
                    <div class="form-group text-right">
                        <label for="password">Password:</label>
                        <input id ="password" name="_password" type="password" maxlength="40">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    </div>

                    <div class="form-group text-right">
                        <div class="div-let-me">
                            <button type="submit">Let me in</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}