html {
    height: 100%;
}
body {
    background: #e0e0e0;
    min-height: 100%;
}
.container-fluid{
    padding: 0;
}
.form_container{
    width: 450px;
    font-size: 16px;
    background: #495C70;
    padding: 30px 30px 15px 30px;
    border: 5px solid #53687E;
    display: inline-block;
    margin: auto;
}

.form_container input[type=submit],
.form_container input[type=button],
.form_container input[type=text],
.form_container input[type=email],
.form_container input[type=password],
.form_container label
{
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    color: #fff;
}
.form_container select option{
    color: #fff;
}
.form_container label {
    display:block;
    margin-bottom: 10px;
    float: left;
}
.form_container input[type=text],
.form_container input[type=email],
.form_container input[type=password],
.form_container select
{
    background: transparent;
    border: none;
    border-bottom: 1px dashed #83A4C5;
    width: 275px;
    outline: none;
    padding: 0 0 0 0;
    font-style: italic;
}

.form_container input[type=text]:focus,
.form_container input[type=email]:focus,
.form_container input[type=password]:focus
.form_container select:focus
{
    border-bottom: 1px dashed #D9FFA9;
}

.form_container button{
    background: #576E86;
    border: none;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    color: #A8BACE;
}
.form_container button:hover{
    background: #394D61;
}
.table-container{
    padding: 20px 0;
}
table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}
table caption {
    font-size: 16px;
    margin: 5px 0 10px;
}
table tr {
    background: #f8f8f8;
    border: 1px solid #ddd;
    padding: 5px;
}
table th,
table td {
    padding: 10px;
    text-align: left;
}
table th {
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #183049;
    color: #fff;
    cursor: pointer;
}
table th:last-child{
    cursor: default;
}
@media screen and (max-width: 600px) {
    table {
        border: 0;
    }
    table caption {
        font-size: 16px;
    }
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
    }
    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        text-align: right;
    }
    table td:before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    table td:last-child {
        border-bottom: 0;
    }
    .form_container input[type=text],
    .form_container input[type=email],
    .form_container input[type=password],
    .form_container select
    {
        width: 100%;
    }
    .form_container{
        width: 100%;
    }
}
.glyphicon{
    margin: 0 10px;
}
.glyphicon-pencil:before{
    color: #ff9933;
}
.glyphicon-trash:before{
    color: #e60000;
}
.header_box {
    padding: 50px 15px;
    background: #889fb8;
}
.header_box span{
   text-transform: uppercase;
    font-size: 20px;
    color: #3e4954;
    font-weight: bold;
}
a.clean{
    text-decoration: none;
    color: #e60000;
}
.clean {
    display: inline-block;
    position: relative;
    padding: 0;
    background: transparent;
    border: 0;
    border-radius: 0;
    min-width: inherit;
    height: 32px;
    line-height: 30px;
    font-weight: normal;
    font-size: 16px;
}
.clean:hover .animline:before {
    width: 100%;
    background: #e60000;
    transition: width .35s;
}
.clean:hover .animline:after {
    width: 100%;
    background: transparent;
    transition: background 0s;
}
.clean .animline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
}
.clean .animline:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 0.001%;
    transition: width 0s, background .35s;
}
.clean .animline:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 0.001%;
    background: #e60000;
    transition: width .35s;
}

ul{
    margin: 0;
    padding: 0;
    border: 1px solid #e60000;
}
ul li{
    list-style: none;
    color: #fff;
    text-align: left;
}